body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    width: 90%;
  }
  .emoji h2 {
    text-align: left;
    margin: 0;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    order: 4;
    width: 90%; /* Make the button fill the box horizontally */
    align-self: flex-end; /* Move the link to the bottom */
    margin-top: auto; /* Move the link further down (to the bottom) */
   
}
  
  
  .icon {
    font-size: 4rem;
   order: 1;
}
  

  .emojis {
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* Gap between grid items */
    justify-items: center; /* Center items horizontally */
  }

  .emoji {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Center items horizontally within the box */
   
}

  
  h2 {
    margin: 50px 0;
    order: 2;
  }
  p{
    order: 3;
  }

  

  
  
  